// Fonts
$font-family-regular: 'brandon_grotesqueregular', sans-serif;
$font-family-bold: 'brandon_grotesquebold', sans-serif;
$font-yanone-regular: 'Yanone Kaffeesatz', sans-serif;

// Colors
$color-lightgrey: #F5F5F5;
$color-grey: #969696;
$color-darkgrey: #4b4b4b;
$color-icon: #5D2598;