.decorate {
    margin-bottom: 70px;

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        position: relative;
        margin-right: 17px;
        
    }

    &__img {
        position: relative;
        width: 538px;
    }

    &__desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 16px 27px;
        width: 100%;
        font-size: 30px;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: #fff;
            opacity: 0.5;
        }

        span {
            z-index: 1;
        }
    }

    &__right {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 17px;
        position: relative;

        &--bottom {
            margin-top: 13px;
        }
    }
    &__item:nth-child(even) {
        margin-right: 0;
    }

    &__title {
        font-size: 30px;
        text-transform: uppercase;
        z-index: 1;

        &--white {
            color: #fff;
        }
    }

    &__subtitle {
        font-family: $font-yanone-regular;

        &--white {
            color: #fff;
        }
    }

    &__itemdesc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 18px; 
        font-size: 30px;

        &--whitebg {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background-color: #fff;
                opacity: 0.5;
            }
        }
    }

    &__button {
        padding: 7px 12px;
        font-size: 11px;
        z-index: 1;
    }
    
}

@media all and (max-width: 1240px) {
    .decorate {

        &__main {
            display: block;
        }

        &__img {
            margin: 0 auto;
            
        }

        &__right {
            justify-content: space-around;
        }

        &__item--bottom {
            margin-top: 0;
        }
    }
}

@media all and (max-width: 768px) {
    .decorate {
        padding: 0 10px;

        &__main {
            display: block;
        }

        &__title {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 15px;
        }

        &__img {
            width: 100%;
        }

        &__item {
            width: 48%;
            margin-left: 0;
        }

        &__itemdesc--whitebg {
            display: block;
        }
    }
}